body {
    font-family: 'Dancing Script', cursive;
    background: url(/Users/saviennemitchell/Downloads/notebook_paper_plain_by_fairyfindings_d37su50.png);
    background-size: cover; 
    background-attachment: fixed;
    background-color:#525252;
    
  }